apiVersion: apps/v1
kind: Deployment
metadata:
  name: telescopecmfm-mvp
  labels:
    app: telescopecmfm-mvp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: telescopecmfm-mvp
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: telescopecmfm-mvp
    spec:
      containers:
        - name: telescopecmfm-mvp
          image: registry.digitalocean.com/quire-registry/telescopecmfm-mvp:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
            limits:
              cpu: 100m
---
apiVersion: v1
kind: Service
metadata:
  name: telescopecmfm-mvp-service
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: telescopecmfm-mvp
